@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overscroll-none;
  }

  :root {
    --background: #fafafa;
    --cardBg: #e5e5e5;
    --subBg: #ededed;
    --foreground: #404040;
    --title: #171717;
    --greyText: #737373;
    --subText: #525252;
    --strokeMain: #d4d4d4;
    --mint: #00bba7;
  }

  .dark,
  [data-theme='dark'] {
    --background: #171717;
    --cardBg: #262626;
    --subBg: #363636;
    --foreground: #b5b5b5;
    --title: #e5e5e5;
    --greyText: #808080;
    --subText: #a3a3a3;
    --strokeMain: #404040;
    --mint: #2dd4bf;
  }
  body {
    @apply overscroll-none bg-background text-foreground;
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
}
